body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 30px;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
.wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.case {
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  border: 1px solid gray;
  padding: 20px;
  border-radius: 5px;
}

.overview {
  margin-bottom: 10px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 65px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -36px;
}
